@import 'meyer-reset';
@import 'clearfix';

// Colors
$gris_molt_clar: #ccc;
$gris_clar: #aaa;
$gris_fosc: #444;
$base_color: #ff5050;	// Color base, ara en desús
$body_dark_color: #f2f2f2;	// Gris molt clar, ara en desús


// Amplades
$general_container_w: 1680px;

$desktop: "(min-width: 1150px)";
$tablet_wide: "(min-width: 768px) and (max-width: 1149px)";
$tablet_narrow: "(min-width: 400px) and (max-width: 767px)";
$phone: "(max-width: 399px)";


//border-box 

// * {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

//

a {
	color: $base_color;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-decoration: none;
}


// fons del body

body.body_pages {
	background: white;
}

body.body_about {
	background: $base_color;
}


body.body_projects {
	background: $body_dark_color;
}

#general_container, #headbar_container, #footer_container {

	width: 95%;
	max-width: $general_container_w;
	margin: 0 auto;

	font-size: 16px;

}

// headbar

#headbar {
	width: 100%;
	height: 30px;
	padding-bottom: 10px;
	padding-top: 5px;

	background: white;	
}

#headbar:after {
	content: "";
}

#headbar_container, #headbar_container a {
	color: $gris_fosc;
	font-family: sans-serif;
	font-weight: bold;

	text-decoration: none;
}

#headbar_container #title, #headbar_container nav {
	line-height: 30px;
}

#headbar_container #title {
	float:left;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;

	& span {
		color: #ff4a4a;
	}
}

#headbar_container nav {
	float: right;

	display: flex;
	justify-content: flex-end;

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#headbar_container nav a {
	text-decoration: none;
	font-weight: normal;
	color: $gris_fosc;
	margin-left: 10px;

	transition: color 0.5s ease;

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		color: $base_color;
	}

	& svg {
		padding-top: 3px;

		& .arrow {
			-webkit-transition: -webkit-transform .2s ease;
			-moz-transition: -moz-transform .2s ease;
			-ms-transition: -ms-transform .2s ease;
			-o-transition: -o-transform .2s ease;
			transition: transform .2s ease;
		}

		&:hover .arrow {
			-webkit-transform: translate(-9px, 0px);
			-moz-transform: translate(-9px, 0px);
			-ms-transform: translate(-9px, 0px);
			-o-transform: translate(-9px, 0px);
			transform: translate(-9px, 0px);
		}
	}
}


.thumbox {

	float: left;
	// width: 24.24%;
	width: 25%;

	background: grey;

	position: relative;

	// margin-right: 1%;
	// margin-bottom: 10px;
	// margin-bottom: 1vw;

	margin-right: 0;
	margin-bottom: 0;

	@media #{$tablet_wide} {
		width: 33.333333333%;
	}

	@media #{$tablet_narrow} {
		width: 50%;
	}

	@media #{$phone} {
		width: 100%;
		border-right: 0;

		margin-bottom: 5px;
		margin-bottom: 2vw;
	}
}

.thumbox:nth-child(4n) {
	@media #{$desktop} {
		border-right: 0;
	}
}

.thumbox:nth-child(3n) {
	@media #{$tablet_wide} {
		border-right: 0;
	}
}

.thumbox:nth-child(2n) {
	@media #{$tablet_narrow} {
		border-right: 0;
	}
}

.thumbox img {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	border-right: solid 1px white;
	border-bottom: solid 1px white;

	display: block;
	width: 100%;
	height: auto;

	/* -webkit-filter: grayscale(30%);
	filter: grayscale(30%); */

	/* &:hover {
        -webkit-filter: none;
		filter: none;
	} */
}

.thumbox .div_overlay {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 1em;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, .5);
	
	visibility: hidden;
	opacity: 0;

	position: absolute;
	top: 0;
	left: 0;

	transition: visibility 0s, opacity 0.5s ease;

	& .tag_list {
		color: white;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 0.8em;
	}
}

.thumbox:hover .div_overlay {
	visibility: visible;
  	opacity: 1;
}

.thumbox a {
	display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.div_overlay .tag_list > li {
	margin-bottom: 0.25em;
}



// Pàgina interna dels projectes //

#general_container.projectes {
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: #444;
} 

.projectes h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 20px;

	width: 60%;

	@media #{$tablet_wide} {
		width: 100%;
	}

	@media #{$tablet_narrow} {
		width: 100%;
	}

	@media #{$phone} {
		width: 100%;
	}
}

.projectes .proj_imgs {
	float: left;
	width: 50%;

	@media #{$tablet_narrow} {
		width: 100%;
	}

	@media #{$phone} {
		width: 100%;
	}
}

.projectes .proj_imgs img {
	max-width: 100%;
	margin-bottom: 1em;
}

.projectes #proj_data_container {
	float: left;
	margin-left: 3%;
	width: 30%;

	@media #{$tablet_wide} {
		width: 47%;
	}

	@media #{$tablet_narrow} {
		margin-left: 0;
		margin-top: 0.5em;
		width: 100%;
	}

	@media #{$phone} {
		margin-left: 0;
		margin-top: 0.5em;
		width: 100%;		
	}
}

.projectes .proj_share {
	float: left;
	margin-bottom: 0.5em;
	width: 100%;
}

.projectes .proj_desc {
	float: left;
	margin-bottom: 1em;

	width: 100%;

	font-family: 'Roboto', serif;
	font-weight: 400;
	line-height: 1.5;
}

.projectes .proj_categories {
	float: left;
	margin-bottom: 0.25em;
	width: 100%;

	& .proj_category_list > li {

		display: inline-block;
		background-color: $gris_fosc;
		padding: 3px 7px;
		margin-bottom: 0.3em;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		transition: background-color 0.5s ease;

		& a {
			color: $gris_clar;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			font-size: 0.75em;
			text-decoration: none;

			transition: color 0.5s ease;
		}

		&:hover {
			background-color: $gris_clar;

			& a {
				color: white;
			}
		}
	}
}




// Fletxes navegació next/prev dins dels projectes

nav .nav_back_arrow {
	width: 20px;
	height: auto;
	margin-top: 5px;
}

.projectes nav {
	z-index: 99;
	position: relative;
}

.projectes nav a {
 	position: fixed;
	top: 48vh;
	width: 50px;
	height: 50px;
	display: block;
	background: rgba(0,0,0,0.1);

	transition: all 0.2s ease;

	&:hover {
		-webkit-transform: scale(1.05);
 		-moz-transform:    scale(1.05);
 		-ms-transform:     scale(1.05);
		-o-transform:      scale(1.05);
		transform: scale(1.1);
	}
}

.projectes nav a#nav_next {
	right: 0;
	transform-origin: center right;
}

.projectes nav a#nav_prev {
	left: 0;
	transform-origin: center left;
}

.projectes nav a#nav_next img, .projectes nav a#nav_prev img {
	width: 20px;
	margin-top: 8px;
}

.projectes nav a#nav_prev img {
	margin-left: 12px;
}

.projectes nav a#nav_next img {
	margin-left: 16px;
}

// Barra amb el nom de la categoria que es mostra

#cat_bar {
	box-sizing: border-box;
	width: 100%;
	background: $gris_molt_clar;
	padding: 5px;
	margin-bottom: 1em;

	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.75em;

}


/*** About *******************************************/


#general_container.about {
	color: white;
}

.about .about_text p {
	font-family: 'Roboto', serif;
	font-weight: 400;

	font-size: 2.5em;
	line-height: 1.5;

	margin-top: 1em;
}