{{ $baseUrl := .Site.BaseURL }}

<div id="headbar">
	<div id="headbar_container">
		<a href="{{ $baseUrl }}"><p id="title">Daniel Sevilla <span>graphic designer</span></p></a>
		<nav>
			{{ if eq .Type "project" }}

			<a href="{{ $baseUrl }}">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" viewBox="0 0 40 30" alt="back">
					<g class="arrow" fill="none" stroke="#333" stroke-width="2" stroke-miterlimit="10">
						<path class="arrow_h_line" d="m 10 15 h 0 40"/>
						<path d="m 10 15 l 15 -15"/>
						<path d="m 10 15 l 15 15"/>
					</g>
					<g class="arrow" fill="none" stroke="#333" stroke-width="2" stroke-miterlimit="10">
						<path d="m 10 15 h 10 40"/>
					</g>
				</svg>
			</a>

			{{ else }}

			<a href="{{ $baseUrl }}">projects</a>

			{{ end }}
		</nav>
	</div>
</div>